/***
中文博客列表导航 https://zhblogs.ohyee.cc/
作者：Github @OhYee
使用 MIT License 进行许可
2022年3月23日
***/
/* 宽屏 1000px 以上 */
@media screen and (min-width: 1000px) {
  #app {
    width: 80%;
    margin: auto;
    padding: 50px;
  }
}

/* 窄屏 1000px 以下 */
@media screen and (max-width: 1000px) {
  #app {
    width: 100%;
    margin: auto;
    padding: 10px;
  }
}
