@charset "UTF-8";
/***
中文博客列表导航 https://zhblogs.ohyee.cc/
作者：Github @OhYee
使用 MIT License 进行许可
2022年3月23日
***/
a {
  text-decoration: none;
}

/* 宽屏 1000px 以上 */
@media screen and (min-width: 1000px) {
  #app {
    width: 80%;
    margin: auto;
    padding: 50px;
  }
}

/* 窄屏 1000px 以下 */
@media screen and (max-width: 1000px) {
  #app {
    width: 100%;
    margin: auto;
    padding: 10px;
  }
}

#app {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#app .container_search {
  display: flex;
  gap: 10px;
}

#app .blogJump {
  max-width: 300px;
  min-width: 10em;
}

#app .page {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.container_vertical {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
}

.container_vertical #app.container_card {
  text-align: center;
  padding: 50px auto;
  box-shadow: 10px 10px 20px rgb(0 0 0 / 50%);
  border-radius: 20px;
}

#app .repeat {
  background: rgba(100, 100, 0, 0.2);
}
